@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 64px;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid purple;
}

.nav-heading {
  font-size: 48px;
  font-family: "Agbalumo", sans-serif;
}

.nav-btn {
  width: 72px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 8px;
  border: 1px solid oldlace;
  font-family: "Agbalumo", sans-serif;
}
main {
  padding: 0px 64px;
  width: 100%;
}

.main-para {
  font-family: "lato", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

#container {
  display: flex;
  gap: 32px;
  width: 100%;
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
  height: fit-content;
  border: 0.5px solid black;
  border-radius: 12px;
}

.img {
  width: 100%;
  height: 250px;
  border-radius: 12px 12px 0px 0px;
}

.product-other {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-flex {
  display: flex;
  widows: 100px;
  align-items: center;
  justify-content: space-between;
}
.product-description {
  word-wrap: break-word;
  font-family: "lato", sans-serif;
  font-style: italic;
  font-size: 12;
  font-weight: 300;
}

.product-title {
  font-family: "lato", sans-serif;
  font-weight: 600;
}
